h1.grey {
  background: grey;
  text-align: center;
}


.img-body, header, {
  position : absolute;
  top : 0;
  right : 0;
}

a {
  color: blue;
  text-decoration: underline;
}

footer{
  text-align: center;
}

.main {
  padding: 0px;
  width:40%;
  margin-top: 0;
}

.important {
  padding: 0px;
}

.container{
  width: 50%;
  display: flex;
  border: 1rem solid red;
  background-color: lightcoral;
  position:absolute; 
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
}

p[class="footer"] {
  text-align: justify;
}
